.map_tool {
    height: 26px;
}

.map_tool ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.map_tool li.click {
    float: left;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 26px;
    width: 26px;
    text-align: center;
    margin: 0 auto;
    background: #97c1ec;
}

.map_tool li.click img {
    vertical-align: middle;
}

.map_tool li.click span {
    height: 100%;
    width: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.map_tool li.normal {
    float: left;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 26px;
    width: 26px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    cursor: pointer;
}

.map_tool li.normal:hover {
    float: left;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 26px;
    width: 26px;
    text-align: center;
    margin: 0 auto;
    background: #ccc;
    cursor: pointer;
}

.map_tool li.normal img {
    vertical-align: middle;
}

.map_tool li.normal span {
    height: 100%;
    width: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.map_tool li.map_rightborder {
    float: left;
    border-left: 1px solid #ddd;
    height: 28px;
}