::-webkit-scrollbar-track {
    background-color: rgb(0, 54, 78);
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(0, 54, 78);
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 54, 78);
    border: solid 1px #2e599d;
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: rgb(0, 54, 78);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #97c1ec;
}

.tooltip-inner {
    background-color: rgba(3, 32, 64, 0.46);
}

.nav-tabs>li>a {
    color: white;
    background: transparent;
}

.nav-tabs>li>a:hover {
    border-color: #254775;
    background-color: #1a273a !important;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #3b70b7;
}



