::-webkit-scrollbar-track {
  background-color: #E4E4E4;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: #E4E4E4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #C9C9C9;
  border: solid 1px #C9C9C9;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: #eee;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}