<div class='map-legend clearfix {{if isPoint "map-legend-non-station " " map-legend-show-station "}}'>
    <ul class="pull-left">
        <li><span></span><span>2G{{ oloc 'comp_map_legend_jz' }}</span></li>
        <li><span></span><span>3G{{ oloc 'comp_map_legend_jz' }}</span></li>
        <li><span></span><span>4G{{ oloc 'comp_map_legend_jz' }}</span></li>
    </ul>
    <ul class="pull-left">
        <li><span></span><span>{{ oloc 'comp_map_legend_yjgj' }}</span></li>
        <li><span></span><span>{{ oloc 'comp_map_legend_ejgj' }}</span></li>
        <li><span></span><span>{{ oloc 'comp_map_legend_sjgj' }}</span></li>
    </ul>
</div>
