.frame-version-size {
    background-color: #2e599d;
    color: white;
}

.frame-version .histroic-version {
    color: rgb(105, 162, 213);
}

.frame-version-releasenote-size {
    background-color: #2e599d;
    color: white;
}
