.frame-container-boder{
    background: #546B86;
}

.frame-background-img-ltjk {
    /* background-image: url(../../../../img/background/unicom_zhanshi.jpg); */
    background-color: #0D2958;
    background-size: 111%;
    background-repeat: no-repeat;
}
