.frame-container-dropup {
  position: fixed;
  z-index: 999;
  left: -3px;
  bottom: 0;
}

.fixed.frame-container-boder {
  overflow: visible;
}

.frame-container-boder {
  height: 100%;
  width: 100%;
  background-image: url('../../../../../img/background/1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.frame-container-dropup:hover .frame-container-dropup-button {
  bottom: 1px;
}

.frame-container-dropup-button {
  /* float: left; */
  position: fixed;
  left: -2px;
  bottom: 0px;
  width: 16px;
  height: 26px;
  background-color: #71a3e0;
  border: 1px solid #cae2ff;
}

.frame-container-back {
  float: left;
  width: 26px;
  height: 26px;
  background-color: #7C9BC0;
  background-image: url("../../../../img/back_.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #cae2ff;
  border-radius: 0px 8px 8px 0px;
  position: fixed;
  z-index: 999;
  left: 13px;
  bottom: 0px;
}

.frame-container-lgscreen-close {
  float: left;
  width: 26px;
  height: 26px;
  background-color: #7C9BC0;
  background-image: url("../../../../img/screen.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #cae2ff;
  position: fixed;
  z-index: 999;
  left: 12px;
  bottom: 0;
}

.frame-container-lgscreen-open {
  float: left;
  width: 26px;
  height: 26px;
  background-color: #17d6a0;
  background-image: url("../../../../img/screen.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #cfd219;
  position: fixed;
  z-index: 999;
  left: 12px;
  bottom: 0;
}

.frame-container-nav {
  list-style: none;
  overflow: hidden;
  background: transparent;
}

.mine .frame-container-nav>li {
  position: initial;
  display: block;
}

.frame-container-nav>li {
  position: relative;
  display: block;
  float: left;
  border: 1px solid #bbb;
  background-color: #ddd;
}

.frame-container-nav>li>a {
  font-size: 10px;
}

.frame-container-nav>li>a:hover,
.frame-container-nav>li>a:focus {
  text-decoration: none;
  background-color: #71a3e0;
  color: #fff;
}

.frame-container-nav>li.disabled>a {
  color: #777;
}

.frame-container-nav>li.disabled>a:hover,
.frame-container-nav>li.disabled>a a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.frame-container-nav .open>a,
.frame-container-nav .open>a:hover,
.frame-container-nav .open>a:focus {
  background-color: #eee;
  border-color: #337ab7;
}

.frame-container-nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.frame-container-nav>li>a>img {
  max-width: none;
}

.frame-container-nav-tabs.frame-container-nav {
  left: 15px;
  min-width: 110px;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.frame-container-nav-tabs>li {
  float: left;
}

.frame-container-nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
}

.frame-container-nav-tabs>li.active>a,
.frame-container-nav-tabs>li.active>a:hover,
.frame-container-nav-tabs>li.active>a:focus {
  color: #FFF;
  cursor: default;
  background-color: #71a3e0;
}


/* 
.frame-container-dropup ~ acronym .frame-container-back,
.frame-container-dropup ~ acronym .frame-container-lgscreen-close{
  display: block !important;
}

.frame-container-dropup.open ~ acronym .frame-container-back,
.frame-container-dropup.open ~ acronym .frame-container-lgscreen-close{
  display: none !important;
} */

.frame-container-boder .tab-content,
.frame-container-boder .tab-pane {
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: visible;
  /*background-color: black;*/
}