.frame-header-mini {
    background-color: rgb(24,31,39);
    color: #fff;
}

.frame-header-mini .user {
    background-image: url('../../../../../img/frame_header/u12.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.frame-header-mini .quit {
    background-image: url('../../../../../img/frame_header/u12.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.frame-header-mini .logout {
    background-image: url('../../../../../img/frame_header/u12.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.frame-header-mini .toggle-vertical-meau-btn {
    color: #6697C4;
    background-image: url('../../../../../img/frame_header/meau_1.png');
}