 <div class="frame-user-tooltip">
            <ul class="nav nav-tabs nav-stacked frame-user-tooltip-stacknav" role="tablist">
                <li>
                    <a class="frame-user-tootip-a" href="#" aria-controls="" role="tab" data-toggle="tab">
                        <span>{{ oloc 'frame_user_tooltip_grda' }}</span>
                    </a>
                </li>
                <li>
                    <a class="frame-user-tootip-a" href="#" aria-controls="" role="tab" data-toggle="tab">
                        <span>{{ oloc 'frame_user_tooltip_xtbz' }}</span>
                    </a>
                </li>
                <li>
                    <a class="frame-user-tootip-a" href="#" aria-controls="" role="tab" data-toggle="tab">
                        <span>{{ oloc 'frame_user_tooltip_wytc' }}</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-controls="" role="tab" data-toggle="tab">
                        <span>{{ oloc 'frame_user_tooltip_sjxt' }}</span>
                        <img src="img/2d_code.png">
                    </a>
                </li>
            </ul>
        </div>
