.frame-user-p {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #5d80a2;
    margin: 0px;
    width: 48px;
    /*height: 20px;*/
    text-align: center;
    overflow-wrap: break-word;
}

.frame-user-tooltip-stacknav {
    margin-top: -6px;
    border: 1px solid #2e599d;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    width: 188px;
    background-color: #2e599d;
}

.frame-user-tooltip-stacknav>li {
    border-bottom: 1px solid #2e599d;
    margin-bottom: 0px;
}


/* add mini header时样式  */

.mini-user .frame-user-img {
    background-image: url('../../../../img/frame_header/more.png');
}

.mini-user .frame-user-p {
    color: #FFF;
}