/*
表格不在页面加载并且固定高度时，表格内容高度异常
*/

.use-padding-fix-container .fixed-table-container {
  /* padding-bottom: 30px !important; */
}

.bs-table-container table.bs-table thead tr {
  height: 30px;
}

.bs-table-container .bootstrap-table .table:not(.table-condensed),
.bs-table-container .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.bs-table-container .bootstrap-table .table:not(.table-condensed)>tbody>tr>th,
.bs-table-container .bootstrap-table .table:not(.table-condensed)>tfoot>tr>td,
.bs-table-container .bootstrap-table .table:not(.table-condensed)>tfoot>tr>th,
.bs-table-container .bootstrap-table .table:not(.table-condensed)>thead>tr>td {
  padding: 6px;
}

.bs-table-container table.bs-table thead tr th {
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}


/*
表头有时候右侧会出现滚动条宽度白边
*/

.bs-table-container .fixed-table-header {
  /* margin-right: 0 !important;*/
}


/*
表头高度改为30
*/

.bs-table-container table.bs-table thead tr th .th-inner {
  padding-bottom: 3px;
  padding-top: 3px;
}

.bs-table-container table.bs-table thead tr th .th-inner input[type=checkbox] {
  position: relative;
  top: 2px;
}

.bs-table-container table tbody input[type=checkbox],
.bs-table-container table tbody input[type=radio] {
  position: relative;
  top: 2px;
}


/*
编辑不显示下划线，编辑内容强制换行
*/

.bs-table-container .editable-click,
.bs-table-container a.editable-click,
.bs-table-container a.editable-click:hover {
  border-bottom: none;
  word-wrap: break-word;
}