.frame-dropdown-menu {
    position: absolute;
    top: -5px;
    left: -41px;
    z-index: 1000;
    /* display: none; */
    float: left;
    min-width: 160px;
    padding: 6px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.frame-dropdown-menu li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
    font-size: 10px;
}

.frame-dropdown-submenu {
    position: relative;
}

.frame-dropdown-submenu .dropdown-menu.pull-right{
    top: 0;
    left: 100%;
    min-width: fit-content;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.frame-dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.frame-dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.frame-dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.frame-dropdown-submenu.pull-left {
    float: none;
}

.frame-dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}