  .frame-login .background-unicom {
    background-image: url('../../../../img/login/cuzhanshi.jpg');
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
  }

  .frame-login .btn-login {
    background-color: #D1D8DA;
    color: black;
  }