.comp-ht-table-secondary-filter-container-size {
    width: 220px;
    height: 260px;
}

.comp-ht-table-secondary-filter-container-sort {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.comp-ht-table-secondary-filter-container-footer {
    width: 120px;
    margin: auto 10px auto auto;
}

.comp-ht-table-secondary-filter-container-list-group {
    list-style: none;
    margin-top: 5px;
    height: 110px;
    overflow: auto;
    padding-left: 15px;
}

.comp-ht-table-secondary-filter-container-list-group-item {
    
}

.comp-ht-table-secondary-filter-container-search {
    margin-left: 15px;
}
